header {
    font-size: 30px;
    font-weight: bold;
 
    margin-bottom: 20px;
    text-align: center;
    width: 200px;
}

header::after {
    content: '';
    width: 180px;
    height: 2px;
    background: gray;
    display: block;
    margin: 10px 10px;
}

.button {
    width: 200px;
    height: 40px;
    background: lightblue;
    border: 3px solid gray;
    box-shadow: 1px 3px gray;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 25px 25px;
    display: block;
    text-decoration: none;
    color: #ffffff;
}